In [19]:
import pandas as pd
import os

project_root = os.path.abspath(os.path.join('..'))

final_df = pd.DataFrame()
for i in range(1, 11):
    df_test = pd.read_csv(os.path.join(project_root, 'data', 'predictions', f'test_data_predictions_{i}.csv'))
    final_df =pd.concat([final_df, df_test], axis=0, ignore_index=True)
final_df

final_df.to_csv(os.path.join(project_root, 'data', 'predictions', f'test_set_with_predictions.csv'))
def min_max_scale(column):
    return (column - column.min()) / (column.max() - column.min())

final_df[final_df['Readability'] == final_df['Readability'].min()]

,Unnamed: 0,Id,EssaySet,EssayText,EssayWeights,Score1,Readability,TTR,model_prediction
2842,2842,16316,6,translationtransformationrespiration,1,0,-724.79,1.0,0

In [14]:
final_df['Readability'] = min_max_scale(final_df['Readability'])

final_df['Readability'].min

<bound method Series.min of 0       0.940804
1       0.928015
2       0.932412
3       0.906810
4       0.956809
          ...
5219    0.960804
5220    0.966442
5221    0.958405
5222    0.973204
5223    0.978003
Name: Readability, Length: 5224, dtype: float64>